
<div class="stream" *ngIf="stream">
    
    <div class="stream__left">

        <video class="stream__video" src="{{stream.video}}" controls></video>

        <div class="stream__controls">
            <div class="stream__info">
                <img class="stream__streamerpicture" src="{{stream.streamerpicture}}" alt="streamer picture">
                <div class="stream__order">
                    <p class="stream__streamer">{{stream.streamer}}</p>
                    <p class="stream__title">{{stream.title}}</p>
                    <div class="stream__moreinfo">
                        <svg class="stream__viewersicon">
                            <use xlink:href="../../assets/sprite.svg#icon-user"></use>
                        </svg>
                        <p class="stream__viewers">{{stream.viewers}}</p>
                        <p class="stream__game"><span class="stream__prevgame">streams:</span> {{stream.game}}</p>
                    </div>
                </div>
            </div>    

            <div class="stream__actions">
                <div class="stream__iconwrapper">
                    <svg class="stream__followicon">
                        <use xlink:href="../../assets/sprite.svg#icon-heart"></use>
                    </svg>
                </div>
                <div class="stream__iconwrapper">
                    <svg class="stream__bellicon">
                        <use xlink:href="../../assets/sprite.svg#icon-bell"></use>
                    </svg>
                </div>
                <div class="stream__subscribe">
                    <svg class="stream__staricon">
                        <use xlink:href="../../assets/sprite.svg#icon-star-full"></use>
                    </svg>
                    <p class="stream__subscribetext">Subscribe</p>
                </div>
            </div>
        </div>

        
    </div>


    <app-chat [streamChat]="streamChat" streamer={{stream.streamer}}></app-chat>
    

    
</div>