<div class="sidenav">
    <div class="sidenav__content">

        <div class="sidenav__category">
            <svg class="sidenav__iconcategory">
                <use xlink:href="../../assets/sprite.svg#icon-heart"></use>
            </svg>
            <a href="#"  class="sidenav__title">Following</a>
        </div>
        <div class="sidenav__category">
            <svg class="sidenav__iconcategory">
                <use xlink:href="../../assets/sprite.svg#icon-game-controller"></use>
            </svg>
            <a href="#" class="sidenav__title">Games</a>
        </div>
        <div class="sidenav__category">
            <svg class="sidenav__iconcategory">
                <use xlink:href="../../assets/sprite.svg#icon-trophy"></use>
            </svg>
            <a href="#"  class="sidenav__title">Esports</a>
        </div>
        <div class="sidenav__category">
            <svg class="sidenav__iconcategory">
                <use xlink:href="../../assets/sprite.svg#icon-music"></use>
            </svg>
            <a href="#" class="sidenav__title">Music</a>
        </div>
        <div class="sidenav__category">
            <svg class="sidenav__iconcategory">
                <use xlink:href="../../assets/sprite.svg#icon-cog"></use>
            </svg>
            <a href="#" class="sidenav__title">Settings</a>
        </div>
        
    </div>
</div>