<diV class="topnav">

    

    <form class="search">
        <input type="text" class="search__input" placeholder="Search for games, streamers">
        
            <svg class="search__icon">
                <use xlink:href="../../assets/sprite.svg#icon-search"></use>
            </svg>
        
    </form>

    <div class="topnav__icons">
        <svg class="topnav__iconinbox">
            <use xlink:href="../../assets/sprite.svg#icon-drawer2"></use>
        </svg>

        <svg class="topnav__iconbubble">
            <use xlink:href="../../assets/sprite.svg#icon-bubble"></use>
        </svg>
    </div>

    <div class="topnav__profile">
        <p class="topnav__profilename">TrickyTziki</p>
        <img class="topnav__profilepicture" src="../../assets/PNG/Profile picture.jpg" alt="profile picture">
    </div>

</diV>